# Byte-compiled Python files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Environment variables
.env
.env.*

# Log files
*.log

# Build artifacts
build/
dist/
*.egg-info/

# Operating system files
.DS_Store
Thumbs.db

# IDE files
.vscode/
*.idea/
